<div class="form-actions">
	<table>
	<% @queries.each do |query| %>
  	<tr>
    	<h3>Q. <%= link_to query.question, query %></h3>
		<% @post = Post.find_by_query_id(query.id)%>
		<% if @post == nil  %>
			
		<% else %>
		<h3>Ans. <%= @post.answer %></h3>
		</tr>
		<%end%>
	<% end %>
	<p><%= will_paginate @queries %></p>
</div>
 	<%=render :partial => "form"%>

	  
</table>
<br />


